@import '../../styles/core';

.navbar-brand svg {
  height: 30px;
  width: 79px;

  @include media-breakpoint-up(md) {
    height: 78px;
    width: 204px;
  }
}

.btn-link {
  text-decoration: none;
}
