<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../assets/img/bootstrap-solid.svg"
        width="30"
        height="30"
        alt=""
      />
    </a>
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item px-1">
        <a class="nav-link" routerLink="/first-component">First</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" routerLink="/second-component">Second</a>
      </li>
    </ul>
    <button
      class="bg-light p-0 border-0 d-md-none"
      type="button"
      aria-label="Toggle navigation"
      (click)="open()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
